@media (max-width: 1200px) {
	.container {
		max-width: 960px;
	}
	.sidepanel {
		display: none;
	}
	.about {
		&__wrapper {
			grid-template-columns: 400px 520px;
			column-gap: 40px;
		}
		&__skills {
			column-gap: 20px;
			row-gap: 30px;
		}
	}
	.resume {
		&__wrapper {
			padding: 0 0 0 5px;
			gap: unset;
			justify-content: space-between;
		}
	}
	.skills {
		&__wrapper {
			grid-template-columns: repeat(auto-fit, 270px);
			gap: 20px;
			justify-content: center;
		}
		&__scales-wrapper {
			grid-template-columns: repeat(auto-fit, 350px);
			justify-content: space-around;
		}
	}
	.portfolio {
		&__wrapper {
			grid-template-columns: repeat(auto-fit, 280px);
			grid-auto-rows: 280px;
			justify-content: center;
			gap: 20px;
			.vertical,
			.horizontal {
				grid-row: unset;
				grid-column: unset;
			}
		}
	}
	.contacts {
		&__wrapper {
			grid-template: 1fr / 1fr;
			justify-content: center;
			padding-right: 0;
		}
		&__photo {
			display: none;
		}
	}
}

@media (max-width: 992px) {
	.container {
		max-width: 720px;
	}
	.about {
		padding-top: 50px;
		&__subtitle {
			font-size: 30px;
			line-height: 50px;
		}
		&__wrapper {
			grid-template-columns: 300px 400px;
			column-gap: 20px;
			row-gap: 30px;
		}
		&__skills {
			grid-template-columns: 400px;
			row-gap: 15px;
		}
	}
	.resume {
		&__wrapper {
			grid-template: repeat(2, auto) / 550px;
			justify-content: start;
			row-gap: 40px;
		}
	}
	.skills {
		&__wrapper {
			margin-bottom: 60px;
		}
		&__scales-wrapper {
			justify-content: center;
		}
	}
	.price {
		&__wrapper {
			grid-template-columns: repeat(auto-fit, 350px);
			padding: 0;
		}
	}
	.contacts {
		&__wrapper {
			padding: 0;
		}
	}
}

@media (max-width: 768px) {
	.container {
		max-width: 540px;
	}
	.divider {
		margin-bottom: 40px;
	}

	.promo {
		&__title {
			font-size: 30px;
			line-height: 39px;
			width: 300px;
		}
	}
	.about {
		padding-top: 40px;
		&__wrapper {
			grid-template-columns: auto;
			grid-template-rows: 400px auto auto;
			row-gap: 20px;
			column-gap: 0;
		}
		&__photo {
			grid-column: unset;
			grid-row: unset;
		}
		&__descr {
			grid-column: unset;
			grid-row: unset;
		}
		&__skills {
			grid-column: unset;
			grid-row: unset;
			grid-template-columns: repeat(2, 260px);
			grid-auto-rows: 260px;
		}
	}
	.title {
		&__section-subtitle {
			font-size: 30px;
			line-height: 36px;
		}
	}
	.resume {
		padding-top: 40px;
		&__wrapper {
			grid-template-columns: auto;
		}
	}
	.skills {
		&__wrapper {
			gap: 10px;
		}
		&__scales-wrapper {
			row-gap: 40px;
			column-gap: 0;
		}
		.divider {
			margin-bottom: 20px;
		}
	}
	.portfolio {
		padding-top: 40px;
	}
	.price {
		padding-top: 40px;
		&__wrapper {
			justify-content: center;
		}
		.divider {
			margin-bottom: 20px;
		}
	}
	.contacts {
		padding: 40px 0 50px 0;
		&__wrapper {
			grid-template-columns: 560px;
		}
		&__title {
			margin-bottom: 25px;
		}
		&__subtitle {
			margin-bottom: 15px;
		}
		&__form {
			grid-template-columns: repeat(2, 250px);
			row-gap: 28px;
		}
	}
}

@media (max-width: 576px) {
	.container {
		width: 100%;
		padding: 0 10px;
	}
	.hamburger {
		right: 20px;
	}
	.menu {
		&__block {
			width: 250px;
			padding-left: 20px;
		}
	}

	.promo {
		background: url('../img/main_bg-w300.jpg') center (center / cover) no-repeat;
		&__title {
			font-size: 26px;
		}
		&__buttons {
			margin-top: 32px;
		}
	}
	.about {
		&__wrapper {
			grid-template: 340px auto auto / 300px;
			justify-content: center;
		}

		&__subtitle {
			font-size: 24px;
			line-height: 36px;
		}

		&__skills {
			justify-content: start;
			grid-template: repeat(3, 120px) / 260px;
			grid-auto-rows: 120px;
			row-gap: 20px;
		}
		.divider {
			margin-top: 15px;
		}
	}
	.resume {
		&__wrapper {
			grid-template-columns: minmax(300px, 500px);
		}
	}
	.skills {
		&__wrapper {
			gap: 20px;
		}
		&__scales-wrapper {
			grid-template-columns: repeat(auto-fit, 290px);
		}
	}
	.price {
		&__wrapper {
			row-gap: 20px;
			grid-template-columns: repeat(auto-fit, 300px);
			justify-content: center;
		}
	}
	.contacts {
		&__descr {
			width: 300px;
			margin: 0 auto;
			justify-content: center;
		}
		&__form {
			justify-content: center;
			grid-template-columns: repeat(auto-fit, 300px);
			grid-template-rows: 45px 45px 143px 101px;
		}
		&__textarea {
			grid-row: 3/4;
			grid-column: 1/2;
		}

		&__triggers {
			grid-row: 4/5;
			grid-column: 1/2;
			grid-template: repeat(2, auto) / 300px;
			justify-items: center;
			row-gap: 20px;
		}
		&__privacy {
			word-wrap: wrap;
			width: 180px;
			order: -1;
		}
		&__text {
			word-wrap: wrap;
		}
	}
}
